body {
  font-family: Arial, Helvetica, sans-serif;
  color: #545456;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  text-align: center;
  font-size: 38px;
  line-height: 48px;
  font-weight: 700;
}
h2 {
  text-align: center;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
}
h3 {
  margin: 10px 0px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}
h4 {
  margin: 10px 0px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}
h5 {
  margin: 10px 0px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}
h6 {
  margin: 10px 0px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}
img {
    max-width: 100%;
}
p {
  margin-bottom: 5px;
  color: #6F6F70;
}

font {
  color: #149CFF;
}

.light {
  margin-top: -50px;
}

section {
  padding: 3em;
}

section#overview {
  padding: 1em;
}

ul {
    margin: 0px auto;
    padding: 10px;
    overflow: hidden;
    -moz-column-count:4; /* Firefox */
    -webkit-column-count:4; /* Safari and Chrome */
    column-count:4;
    width: 1150px;
    list-style-type: none;
}

li {
  height: 200px;
}

.faq {
  background-color: rgb(248, 248, 248);
}

header {
  /*margin-top: 80px;*/
  background-image: url('../images/bg_image.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  text-align: center;
  padding: 5em 3em 4em 3em;
}

.email {
  display: block;
  width: 98%;
  height: 200px;
  background-color: rgba(255, 0, 0, 0);
  color: #009cff;
  font-size: 72px;
  font-weight: 700;
  text-align: center;
  border-style: none;
  margin-left: auto;
  margin-right: auto;
  outline:none;
  box-shadow:none;
  -webkit-appearance: none;
  outline-width: 0;
  outline-color: white;
}

#sub {
  padding-top: 20px;
}

#sponsors {
  height: auto;
  text-align: center;
  display:block;
  margin:auto;
  opacity:.6;
  filter:alpha(opacity=.6);
}

/* all */
::-webkit-input-placeholder { color:#009CFF; opacity:1;
  filter:alpha(opacity=100); }
::-moz-placeholder { color:#009CFF; opacity:1;
  filter:alpha(opacity=100); } /* firefox 19+ */
:-ms-input-placeholder { color:#009CFF; opacity:1;
  filter:alpha(opacity=100); } /* ie */
input:-moz-placeholder { color:#009CFF; opacity:1;
  filter:alpha(opacity=100); }

*:focus {
    outline:none;
    box-shadow:none;
    -webkit-appearance: none;
    border-style: none;
}

.email:focus {
  outline-color: transparent;
  outline-style: none;
}

.form {
  text-align: center;
  margin-top: 35px;
}
.submit {
  position: static;
  display: inline-block;
  clear: none;
  text-align: center;
  /* Rectangle 2: */
  border-radius: 6px;
  background: #149CFF;
  border: none;
  padding: 15px;
  color: white;
  font-size: 24px;
  font-weight: thin;
}
.form_wrap {
  padding-top: 30px;
}
footer {
  display: block;
  text-align: center;
  padding: 3em;
  color: #B7B7B7;
  background-color: white;
}
